<section id="newlanguage-view" class="mainbar" data-ng-controller="newlanguage as vm">
    <section class="matter">
        <div class="container">

            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <form name="myForm" data-ng-submit="vm.Save()" novalidate>
                        <a href="" class="btn btn-info btn-form-md" data-ng-click="vm.goBack()">
                            <i class="fa fa-hand-o-left"></i>
                            Back
                        </a>
                        <div class="widget">
                            <div data-cc-widget-header title="{{ vm.title }}"></div>
                            <div class="widget-content text-info">
                                <div class="col-sm-12 col-md-12 col-lg-12 paddingTopFirst" data-ng-class="{true: 'error'}[vm.submitted && myForm.Culture.$invalid]">
                                    <label class="col-sm-3 col-md-2 col-lg-2 control-label nopadding">Language (ISO Code):</label>
                                    <div class="col-sm-9 col-md-10 col-lg-6 nopadding">
                                        <input class="form-control input-sm" type="text" id="CultureID" name="Culture" data-ng-model="vm.item.Culture" data-ng-required="vm.submitted" />
                                        <span class="z-decorator" data-ng-show="vm.submitted && myForm.Culture.$error.required"><span title="Required" class="icon-asterisk-invalid z-required">*</span><span class="invalid"><i class="fa fa-warning-sign"></i>Culture is required.</span></span>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-12 paddingTop" data-ng-class="{true: 'error'}[vm.submitted && myForm.Description.$invalid]">
                                    <label class="col-sm-3 col-md-2 col-lg-2 control-label nopadding">Description:</label>
                                    <div class="col-sm-9 col-md-10 col-lg-6 nopadding">
                                        <input class="form-control input-sm" type="text" id="DescriptionID" name="Description" data-ng-model="vm.item.Description" data-ng-required="vm.submitted" />
                                        <span class="z-decorator" data-ng-show="vm.submitted && myForm.Description.$error.required"><span title="Required" class="icon-asterisk-invalid z-required">*</span><span class="invalid"><i class="fa fa-warning-sign"></i>Description is required.</span></span>
                                    </div>

                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-12 paddingTop">
                                    <div class="col-sm-12 col-md-12 col-lg-12 nopadding">
                                        <input class="btn btn-default buttonSmall" data-ng-click="vm.submitted=true" type="submit" value="Save" />
                                        <input class="btn btn-default buttonSmall" data-ng-click="vm.clearValues()" type="button" value="Cancel" />
                                    </div>

                                </div>
                            </div>
                            <div class="widget-foot">
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div data-ng-show="vm.isBusy" class="page-splash dissolve-animation">
            <div data-cc-spinner="vm.spinnerOptions"></div>
            <div class="page-splash-message page-splash-message-subtle">{{vm.busyMessage}}</div>
        </div>
    </section>
</section>