@using ResourcesFirstTranslations.Web
<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-header">
        <a href="/" class="navbar-brand"><span class="brand-title">@ApplicationInformation.Current.Name</span></a>
        <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
    </div>
    <div class="navbar-collapse collapse">
        <div class="pull-right navbar-logo">
            <ul class="nav navbar-nav pull-right">
                <li>

                </li>
                <li class="dropdown dropdown-big">
                    <a href="/Account/LogOff">Log off</a>
                </li>
            </ul>
        </div>
    </div>
</nav>