<section id="resetpassword-view" class="mainbar" data-ng-controller="resetpassword as vm">
    <section class="matter">
        <div class="container">

            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <button class="btn btn-info btn-form-md" data-ng-click="vm.goBack()">
                        <i class="fa fa-hand-o-left"></i>
                        Back
                    </button>
                    <div class="widget">
                        <div data-cc-widget-header title="{{ vm.title }}"></div>
                        <div class="widget-content text-info">
                            <div class="col-sm-12 col-md-12 col-lg-12 paddingTopFirst">
                                <label class="col-sm-3 col-md-2 col-lg-1 control-label nopadding">Translator:</label>
                                <label class="col-sm-9 col-md-10 col-lg-6 control-label nopadding">{{ vm.item.Name }}</label>

                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 paddingTop">
                                <label class="col-sm-3 col-md-2 col-lg-1 control-label nopadding">Email:</label>
                                <label class="col-sm-9 col-md-10 col-lg-6 control-label nopadding">{{ vm.item.EmailAddress }}</label>

                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 paddingTop">
                                <div class="col-sm-12 col-md-12 col-lg-12 nopadding">
                                    <input class="btn btn-default buttonXLarge" data-ng-click="vm.Save()" type="submit" value="Generate new password and send" />
                                </div>
                            </div>
                        </div>
                        <div class="widget-foot">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-ng-show="vm.isBusy" class="page-splash dissolve-animation">
            <div data-cc-spinner="vm.spinnerOptions"></div>
            <div class="page-splash-message page-splash-message-subtle">{{vm.busyMessage}}</div>
        </div>
    </section>
</section>