<section id="translators-view" class="mainbar" data-ng-controller="translators as vm">
    <section class="matter">
        <div class="container">

            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <button class="btn btn-info btn-form-md" data-ng-click="vm.newTranslator()">
                        <i class="fa fa fa-plus"></i>
                        New
                    </button>
                    <div class="widget">
                        <div data-cc-widget-header title="{{ vm.title }}"></div>
                        <div class="widget-content text-info">
                            <table class="table table-striped table-condensed table-hover">
                                <thead>

                                    <tr>

                                        <th class="FirstName">
                                            <a data-ng-click="vm.sort_by('Name')" style="color: #555555;">
                                                Name&nbsp;<i data-ng-class="vm.selectedCls('Name')"></i>
                                            </a>
                                        </th>
                                        <th class="FirstName">
                                            <a data-ng-click="vm.sort_by('Cultures')" style="color: #555555;">
                                                Languages&nbsp;<i data-ng-class="vm.selectedCls('Cultures')"></i>
                                            </a>
                                        </th>
                                        <th class="EmailAddress">
                                            <a data-ng-click="vm.sort_by('EmailAddress')" style="color: #555555;">
                                                EmailAddress&nbsp;<i data-ng-class="vm.selectedCls('EmailAddress')"></i>
                                            </a>
                                        </th>
                                        <th class="IsActive">
                                            <a data-ng-click="vm.sort_by('IsActive')" style="color: #555555;">
                                                Active&nbsp;<i data-ng-class="vm.selectedCls('IsActive')"></i>
                                            </a>
                                        </th>
                                        <th class="IsAdmin">
                                            <a data-ng-click="vm.sort_by('IsAdmin')" style="color: #555555;">
                                                Admin&nbsp;<i data-ng-class="vm.selectedCls('IsAdmin')"></i>
                                            </a>
                                        </th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>


                                <tbody>
                                    <tr ng-repeat="item in vm.items | orderBy:vm.sort.sortingOrder:vm.sort.reverse">
                                        <td class="textLeft">{{item.Name}}</td>
                                        <td class="textLeft">{{item.Cultures}}</td>
                                        <td class="textLeft">{{item.EmailAddress}}</td>
                                        <td><input type="checkbox" ng-disabled="true" data-ng-model="item.IsActive"></td>
                                        <td><input type="checkbox" ng-disabled="true" data-ng-model="item.IsAdmin"></td>
                                        <td data-ng-click="vm.goToTranslator(item)">edit</td>
                                        <td data-ng-click="vm.resetPassword(item)">Reset password</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="8">
                                            <pagination boundary-links="true"
                                                        on-select-page="vm.pageChanged(page)"
                                                        total-items="vm.attendeeFilteredCount"
                                                        items-per-page="vm.paging.pageSize"
                                                        page="vm.paging.currentPage"
                                                        max-size="vm.paging.maxPagesToShow"
                                                        class="pagination-small"
                                                        previous-text="Prev"
                                                        next-text="Next"
                                                        first-text="First"
                                                        last-text="Last"></pagination>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="widget-foot">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-ng-show="vm.isBusy" class="page-splash dissolve-animation">
            <div data-cc-spinner="vm.spinnerOptions"></div>
            <div class="page-splash-message page-splash-message-subtle">{{vm.busyMessage}}</div>
        </div>
    </section>
</section>